$govuk-global-styles: true;
$govuk-canvas-background-colour:#2d69c1;
$govuk-text-colour:#000;
$text-colour:#fb7e92;
$warning-colour:#fb7e92;
$success-colour:#2a7e74;
$primary-colour:#d6e8f8;
$secondary-colour:#e4e4e4;

@import "govuk/all";

//Type
.govuk-hint,.govuk-fieldset__legend--xl, .govuk-label, .govuk-body-l, .govuk-body-lead,
  .big-number, .govuk-warning-text__text, .govuk-button, .govuk-heading-m,
  .govuk-body-m, .govuk-body, .govuk-list, .govuk-back-link, .govuk-link, .govuk-error-message,
  .govuk-heading-xl, .big-number span.big-number__number, .govuk-body-l, .govuk-heading-l, .govuk-heading-l,
  .govuk-fieldset__legend, .govuk-details, .govuk-summary-list, .govuk-panel
{
  font-family:"Hind", sans-serif;
}

//Header
.govuk-header {
  background:$primary-colour;
  padding-bottom:govuk-spacing(3);
  border-bottom:none;
  a.govuk-header__link {
    color:#2d69c1;
  }
  .govuk-header__logotype-text{
    font-family:"Hind", sans-serif;
    font-weight:bold;
    span {
      font-weight: 300;
      color:#000;
    }
  }
  .govuk-header__link--homepage {
    font-size: 1.5rem;
    padding-top:6px
  }
}

@media (min-width: 48.0625em){
  .govuk-header__logo {
    width:50%;
  }
}

.govuk-header__container {
  border-bottom:none;
}

//Layout
.govuk-main-wrapper {
  display: block;
  padding-top: 5px;
  padding-bottom: 20px;
}
@media (min-width: 40.0625em){
  .govuk-main-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  }
}

.govuk-panel.govuk-panel--confirmation{
  background:$success-colour;
}

.govuk-tag.govuk-phase-banner__content__tag{
  background:#26a69a;
}


.govuk-button, .govuk-button--start, .govuk-button:visited{
  // background:#fff;
  background:#3e7bdc;
  // color:#3e7bdc;
  color:#fff;
  font-size:1.4rem;
  border:solid 3px #3e7bdc;
  border-radius: 45px;
  font-weight:bolder;
  box-shadow:none;
}

.govuk-button--start:hover, .govuk-button:hover{
  color:#fff;
  background:#3e7bdc;
  box-shadow:none;
}

.govuk-radios__label::before, .govuk-checkboxes__label::before {
  border-color:#3e7bdc;
}
.govuk-radios__label::after, .govuk-checkboxes__label::after {
  color:$success-colour; 
}

.govuk-details__text {
  border-left-color:#b8c9dd;
}

.govuk-form-group--error {
  border-left-color:$warning-colour;
}
.govuk-textarea--error {
  border-color:$warning-colour;
}
.govuk-error-message {
  color:$warning-colour;
}

.intro-panel {
  background-color: $primary-colour;
}

@media (min-width: 48.0625em){
  .intro-panel {
    background-color: $primary-colour;
    .govuk-main-wrapper {
      background-image: url('../images/seesaw.png');
      background-repeat: no-repeat;
      background-size: 40% auto;
      background-position: bottom right;
    }

    .govuk-body-l {
      padding-right:40%;
    }
  }
}

.outro-panel {
  background-color: $secondary-colour;
}

#steps {
  h2 {
    border-top: solid 3px $secondary-colour;
    padding-top: govuk-spacing(6);
  }
  li{ 
    background-size:200px 200px;
    background-repeat:no-repeat;
    background-position: top center;
    padding-top:200px;
    text-align:center;
    @extend %govuk-heading-m;
  }
  ul{
    :nth-child(1) {
      background-image:url("../images/step1.png");
    }
    :nth-child(2) {
      background-image:url("../images/step2.png");
    }
    :nth-child(3) {
      background-image:url("../images/step3.png");
    }
  }
}

.govuk-footer{
  border-top:none;
  .govuk-footer__link{
    color:#fff;
  }
}

.govuk-warning-text {
  border:solid 2px #bcccdf;
  border-radius: 45px;
  font-weight:normal;
  .govuk-warning-text__icon{
    background:$warning-colour;
    border:solid 3px $warning-colour;
    margin-top:0;
    margin-left:12px;
  }
  .govuk-warning-text__text{
    font-weight:normal;
    padding-left:55px;
    padding-right:20px;
    span {
      font-weight:bold;
    }
  }
}


.big-number {
    text-align:center;
    span.big-number__number {
      @extend %govuk-heading-l;
      margin-bottom:govuk-spacing(3);
    }
    span.big-number__quantity {
      @extend %govuk-body-m;
    }

}
@media (min-width: 48.0625em){
  .big-number {
    text-align:left;
  }
}
.callout {
  border:solid 2px #0e3249;
  padding:govuk-spacing(3);
}
