$govuk-global-styles: true;
$govuk-canvas-background-colour:#2d69c1;
$govuk-text-colour:#000;
$text-colour:#fb7e92;
$warning-colour:#fb7e92;
$success-colour:#85A81E;
$primary-colour:#d6e8f8;
$secondary-colour:#e4e4e4;
$prototype-colour:#39ff14;

@import "govuk/all";

html.govuk-template {
  background:#fff;
}

//Type
.govuk-hint, .govuk-label, .govuk-body-l, .govuk-body-lead,
  .big-number, .govuk-warning-text__text, .govuk-button, .govuk-heading-m,
  .govuk-body-m, .govuk-body, .govuk-list, .govuk-back-link, .govuk-link, .govuk-error-message,
  .govuk-body-l, 
  .govuk-fieldset__legend, .govuk-details, .govuk-summary-list, .govuk-panel
{
  font-family:"Hind", sans-serif;
  font-weight:400;
}

.govuk-fieldset__legend--xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-xl, .govuk-heading-m {
  font-family:"Hind", sans-serif;
  font-weight:700;
}

.govuk-header__logotype-text, .big-number span.big-number__number, .govuk-button, .govuk-button--start {
  font-family:"Hind", sans-serif; 
}

.govuk-body-l, .govuk-body-lead {
  font-size:1.2rem;
}

.govuk-fieldset__legend--xl, .govuk-heading-xl {
  margin-bottom:15px;
}

//Header
.govuk-header {
  background:$primary-colour;
  padding-bottom:govuk-spacing(3);
  border-bottom:none;
  a.govuk-header__link {
    color:#2d69c1;
  }
  .govuk-header__logotype-text{
    font-weight:bold;
    font-size: 1.5rem;
    span {
      font-weight: 300;
      color:#000;
    }
  }
  .govuk-header__link--homepage {
    padding-top:6px
  }
}

@media (min-width: 48.0625em){
  .govuk-header__logo {
    width:100%;
    // padding-top:govuk-spacing(3);
  }
}

.govuk-header__container {
  border-bottom:none;
}

//Layout
.govuk-main-wrapper {
  display: block;
  padding-bottom: 20px;
}

@media (min-width: 40.0625em){
  .govuk-main-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  }
}

.govuk-panel.govuk-panel--confirmation{
  background:$success-colour;
  margin-bottom:govuk-spacing(4);
}

.govuk-tag.govuk-phase-banner__content__tag{
  background:$prototype-colour;
  color:#333;
  a {
    text-decoration:none;
    color:333;
  }
}

.govuk-phase-banner__text {
  .govuk-link, a, .govuk-link:visited, a:visited {
    text-decoration:none;
    color:#000!important;
  }
}

.govuk-button, .govuk-button--start, .govuk-button:visited{
  // background:#fff;
  background:#3e7bdc;
  // color:#3e7bdc;
  color:#fff;
  line-height:1.5rem;
  font-size:1.4rem;
  border:solid 3px #3e7bdc;
  border-radius: 45px;
  font-weight:bolder;
  box-shadow:none;
  padding: (govuk-spacing(2) - $govuk-border-width-form-element) (govuk-spacing(2) + $govuk-border-width-form-element * 3) (govuk-spacing(2) - $govuk-border-width-form-element * 3); // s1
}

.govuk-button--start:hover, .govuk-button:hover{
  color:#fff;
  background:#3e7bdc;
  box-shadow:none;
}

// @media (min-width: 48.0625em){
//   .govuk-button--start, .govuk-button{
//     padding:10px 25px;
//   }
// }

.govuk-radios__label::before, .govuk-checkboxes__label::before {
  border-color:#3e7bdc;
}
.govuk-radios__label::after, .govuk-checkboxes__label::after {
  color:$success-colour; 
}

.govuk-details__text {
  border-left-color:#b8c9dd;
}

.govuk-form-group--error {
  border-left-color:$warning-colour;
}
.govuk-textarea--error {
  border-color:$warning-colour;
}
.govuk-error-message {
  color:$warning-colour;
  font-weight:bold;
}

.intro-panel {
  background-color: $primary-colour;
}

@media (min-width: 48.0625em){
  .intro-panel {
    background-color: $primary-colour;
    .govuk-main-wrapper {
      background-image: url('../images/seesaw.png');
      background-repeat: no-repeat;
      background-size: 40% auto;
      background-position: bottom right;
    }

    .govuk-body-l {
      padding-right:40%;
    }
  }
}
@media (min-width: 48.0625em){
  .landing{
    .govuk-header .govuk-header__logotype-text{
      font-size:3rem;
    }
    .govuk-header__logo {
    padding-top:govuk-spacing(3);
    } 
  }
}

.outro-panel {
  background-color: $secondary-colour;
}

#steps {
  h2 {
    border-top: solid 3px $secondary-colour;
    padding-top: govuk-spacing(6);
  }
  li{ 
    background-size:200px 200px;
    background-repeat:no-repeat;
    background-position: top center;
    padding-top:200px;
    text-align:center;
    @extend %govuk-heading-m;
    font-family:"Hind", sans-serif;
    font-weight:400;
  }
  ul{
    :nth-child(1) {
      background-image:url("../images/step1.png");
    }
    :nth-child(2) {
      background-image:url("../images/step2.png");
    }
    :nth-child(3) {
      background-image:url("../images/step3.png");
    }
  }
}

.govuk-footer{
  border-top:none;
  .govuk-footer__link{
    color:#fff;
  }
}

.govuk-warning-text {
  border:solid 3px $secondary-colour;
  border-radius: 45px;
  font-weight:normal;
  .govuk-warning-text__icon{
    background:$warning-colour;
    border:solid 3px $warning-colour;
    margin-top:0;
    margin-left:12px;
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  .govuk-warning-text__text{
    font-weight:normal;
    padding-left:80px;
    padding-right:20px;
    min-height:50px;
    span {
      font-weight:bold;
    }
  }
}

@media (min-width: 48.0625em){
  .govuk-warning-text {
    .govuk-warning-text__icon{
      margin-top:-3px!important;
    }
  }
}

.big-number {
    text-align:center;
    span.big-number__number {
      @extend %govuk-heading-xl;
      margin-bottom:0;
      padding:govuk-spacing(2) 0;
    }
    span.big-number__quantity {
      @extend %govuk-body-m;
    }

}
@media (min-width: 48.0625em){
  .big-number {
    text-align:left;
  }
}
.callout {
  // border:solid 2px #0e3249;
  background-color:$secondary-colour;
  padding:govuk-spacing(3);
}

.valign {
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  display: box;
  box-align: center;
}

blockquote {
  border-left: solid 10px $secondary-colour;
  margin-left:0;
  padding:govuk-spacing(3); 
}

#verify_service {
  text-align: center;
  padding-top:govuk-spacing(3); 
  margin-bottom:govuk-spacing(3); 
}

.prototype-panel{
  padding:govuk-spacing(4);
  margin:govuk-spacing(2);
  h1  {
    padding:0 govuk-spacing(4);
    background:$prototype-colour;
    display:inline-block;
    text-transform:uppercase;
    font-family: Arial, sans-serif;
    outline:2px solid transparent;
    outline-offset:-2px;
    letter-spacing: 1px;
    font-weight: 700;
  }
}

.prototype-nocontent{
  border:dashed $prototype-colour 2px;
  padding:govuk-spacing(8) 0;
  text-align:center;
}