  <div class="outro-panel">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">How it works</h2>
            <p class="govuk-body">
            The <strong>{{config.PROJECT_NAME}}</strong> is an independent service for reporting negative or harmful things online, such as harassment on social media, upsetting images or scams.
            </p>
            <p class="govuk-body">
              We'll explain your rights using information written by experts from different charities and support groups.
            </p>
            <p class="govuk-body">
              Then we'll guide you through the process of reporting your issue to the company responsible. You can also report it to charities and support groups to help them spot new risks online.
            </p>
            <h2 class="govuk-heading-m">Further nformation for companies</h2>
            <p class="govuk-body">
              Companies who offer digital services can integrate {{config.PROJECT_NAME}} with their CRM. 
            </p>
            <p class="govuk-body">
              <strong><a href="#">Find out more</a></strong>
            </p>
            <h2 class="govuk-heading-m">Further information for charities and support groups</h2>
            <p class="govuk-body">
              Support groups and charities can help improve the guidence and recieve anonomous statistics about emerging online harms.
            </p>
            <p class="govuk-body">
              <strong><a href="#">Find out more</a></strong>
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="big-number">
              <span class="big-number__number">456</span>
              <span class="big-number__quantity">Reports this month</span>
            </div>
            <div class="big-number">
              <span class="big-number__number">25</span>
              <span class="big-number__quantity">Different companies</span>
            </div>
            <div class="big-number">
              <span class="big-number__number">15</span>
              <span class="big-number__quantity">Charities and support groups</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

