      <h2 class="govuk-heading-m">You can use the {{config.PROJECT_NAME}} to &hellip;</h2>
      <ul class="govuk-grid-row govuk-list">
        <li class="govuk-grid-column-one-third">
          Understand your rights using guides written by experts
        </li>
        <li class="govuk-grid-column-one-third">
          Report something you have experienced online to the right place
        </li>
        <li class="govuk-grid-column-one-third">
          Help charities and support groups understand emerging trends
        </li>
      </ul>