      <h2 class="govuk-heading-m">You can use the {{config.PROJECT_NAME}} to &hellip;</h2>
      <ul class="govuk-grid-row govuk-list">
        <li class="govuk-grid-column-one-third">
          Understand your rights
        </li>
        <li class="govuk-grid-column-one-third">
          Report something you have experienced online to the company responsible
        </li>
        <li class="govuk-grid-column-one-third">
          Notify charities and government regulators to help others stay safe online
        </li>
      </ul>
