{% from "govuk-jinja-components/phase-banner/macro.jinja" import govukPhaseBanner -%}
<!doctype html>
<html lang="en" class="govuk-template">
<head>
      <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
      <link href="https://fonts.googleapis.com/css?family=Hind:300,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body class="govuk-template__body {% block bodyclass %}{% endblock %}">
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="{{url_for('index')}}" class="govuk-header__link govuk-header__link--homepage">
<!--           <span class="govuk-header__logotype">
            <img src="{{ url_for('static', filename='images/logo.svg') }}">
          </span> -->
          <span class="govuk-header__logotype-text">
             Online Resolution <span>Service</span>
          </span>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div class="govuk-width-container">
      {% block phaseBanner %}
        {{ govukPhaseBanner({
          "tag": {
            "html": "<a href=\"/\">prototype</a>"
          },
          "html": '<a href="/">This is only a prototype – you <strong>can not</strong> use it to report real issues</a>'}) 
        }}
      {% endblock %}
    </div>

    {% block top %}
    {% endblock %}
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message  in messages %}
              <div class="alert-box alert">
                {{ message }}&nbsp;
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

      </div>
    </div>
    {% block bottom %}
    {% endblock %}
  </main>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('about_prototype')}}">
                About
              </a>
             </li>            
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('about_prototype')}}">
                Privacy policy
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('about_prototype')}}">
                  How we use your data
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a href="{{url_for('about_companies')}}" class="govuk-footer__link">
                Information for companies
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a href="{{url_for('about_support_organisations')}}" class="govuk-footer__link">
                Information for support organsiations
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a href="{{url_for('harm_index')}}" class="govuk-footer__link">
                Categories
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='vendor/govuk-frontend/govuk-frontend-3.4.0.min.js') }}"></script>
  <script>window.GOVUKFrontend.initAll()</script>
</body>
