{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% from "govuk-jinja-components/panel/macro.jinja" import govukPanel -%}
{% extends "base.html" %}
{% block title %}What online service or company where you using?{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
          "titleText": "Your information has been submitted",
          "html": "Your reference number<br><strong>HDJ2123F</strong>"
        }) 
      |safe}}
      <p class="govuk-body">We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
      We’ve sent your application to {{case.service_name}} and ChildLine.
      </p>
      <p class="govuk-body">
        They will contact you to confirm your information or to report any action they have taken.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
