{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% from "govuk-jinja-components/phase-banner/macro.jinja" import govukPhaseBanner -%}
{% extends "base.html" %}
{% block title %}{{config.PROJECT_NAME}}{% endblock %}
{% block bodyclass %}landing{% endblock %}
{% block phaseBanner %}{% endblock %}
{% block top %}
  <div class="intro-panel">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <p class="govuk-body-l">
          An independent service that helps you report negative or harmful things online to the right places. It only takes about 5 minutes.
        </p>
        {{govukButton({"text": "Start now", "href": url_for('report_what'), "isStartButton": True})|safe}} 
      </div>
    </div>
  </div>
  {% endblock %}
{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include '_includes/emergency.html'%}
  </div>
</div>
<div class="govuk-grid-row">
  <div id="steps" class="govuk-grid-column-full">
    {% include '_includes/steps.html'%}
  </div>
</div>
{% endblock %}
{% block bottom %}
  {% include '_includes/howitworks.html'%}
{% endblock %}