{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% extends "base.html" %}
{% block title %}What happened?{% endblock %}
{% block top %}
  <div class="intro-panel">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <h1 class="govuk-heading-l">Report {{harm.title|lower}}</h1>
        <p class="govuk-body-l">
        The {{config.PROJECT_NAME}} is an independent service that helps you report negative or harmful things online to the right places. It only takes about 5 minutes.
        </p>
        {{govukButton({"text": "Start now", "href": url_for('harm_report', slug=harm.slug), "isStartButton": True})|safe}} 
      </div>
    </div>
  </div>
  {% endblock %}
{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include '_includes/emergency.html'%}
  </div>
</div>
<div class="govuk-grid-row">
  <div id="steps" class="govuk-grid-column-full">
    {% include '_includes/steps.html'%}
  </div>
</div>
{% endblock %}
{% block bottom %}
  {% include '_includes/howitworks.html'%}
{% endblock %}
