{% from "govuk-jinja-components/button/macro.jinja" import govukButton -%}
{% extends "base.html" %}
{% block title %}What happened?{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for category in data %}
      <h2 class="govuk-heading-m">{{category['title']}}</h2>

        <ul class="govuk-list">
          {% for harm in category['harms'] %}
            <li><a href="{{url_for("harm_item", slug=harm.slug)}}">{{harm.title}}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}
